section.exclusive_videos {
    padding-top: 70px;
    .movie_list {
        &_item {
            width: 450px;
            margin-right: 48px;
            .photo_wrapper {
                &::after {
                    content: url('../icon//play_exclusive.svg');
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50% , -50%);
                    width: 60px;
                    height: 60px;

                }
               img {
                position: relative;
                width: 450px;
                height: 250px;
                transition: .6s ease-in;
                // &::after {
                //     content: url('../icon//play_exclusive.svg');
                //     position: absolute;
                //     left: 50%;
                //     top: 50%;
                //     transform: translate(-50% , -50%);
                //     width: 60px;
                //     height: 60px;

                // }
               }
            }

            // &:nth-child(1) {
            //     .photo_wrapper {
            //         img {
            //             content: url('../img/Thumbnails.jpg');
            //         }
            //     }
            // }

            // &:nth-child(2) {
            //     .photo_wrapper {
            //         img {
            //             content: url('../img/video_2.jpg');
            //         }
            //     }
            // }

            // &:nth-child(3) {
            //     .photo_wrapper {
            //         img {
            //             content: url('../img/video_2.jpg');
            //         }
            //     }
            // }
        }

    }
}