.see_more_section {
    padding: 20px;
    transform: scale(0);
    opacity: 0;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: .8s all;
    background: white;
    overflow-y: auto;
    pointer-events: auto;
    z-index: 5;
    .ext_btn {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }
    .movie_full {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;    
        text-align: center;
        .score {
            display: flex;
            justify-content: center;
        }
    }
    h2 {
        text-align: center;
    }
}